.todoform{
    background-color: white;
    border-radius: 8px;
    width: 500px;
    padding: 8px;
    margin:0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display:flex;
}
.input{
    display: block;
    width: 100%;
    border:none;
    color:black;
    font-size:16px;
}
.input:focus{
    outline: none;
}
.button{
    display:inline-block;
    border: none;
    border-radius: 4px;
    background-color: cornflowerblue;
    color:white;
    padding: 8px 16px;
    cursor:pointer;
}